<!-- <nav>

  <div align ="center" style="margin-top: 10px; background-color:#d7ded9; border-radius: 50px;"  >

     <a routerLink="/home">Home</a> &nbsp;|&nbsp;
     <a routerLink="/products">Products</a> &nbsp;|&nbsp;
     <a routerLink="/cart">Cart</a> &nbsp;|&nbsp;
     <a routerLink="/orders">Orders</a> &nbsp;|&nbsp;
     <a routerLink="/about">About</a> &nbsp;|&nbsp;
     <a routerLink="/contact">Contact</a> &nbsp;|&nbsp;
     <a routerLink="/login">Login</a> &nbsp;


  </div>

</nav> -->




<!-- NavBar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VINEYARD
      <!-- <img src="src\assets\Imgaes\logo1.png" width="100px"  > -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class=" nav-link active" aria-current="page" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class=" nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
          <a class=" nav-link " routerLink="/products" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            WINES
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        </li>

         <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/contact" >CONTACT</a>
        </li> -->

      </ul>



          <a class="nav-link " routerLink="/cart" ><i class="fa fa-cart-plus fa-2x" style="color:lightgray;" aria-hidden="true"></i></a>



        <a class="nav-link" routerLink ="/login" ><i class="fa fa-user-circle fa-2x " style="color:lightgray;" aria-hidden="true"></i></a>

        <a class=" nav-link" aria-current="page" style="cursor: pointer;color:lightgray;" (click)="logout()"><h5>LogOut</h5></a>





    </div>
  </div>
</nav>


<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <p class="h3 my-0 me-md-auto fw-normal text-white ">VINEYARD</p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-white" routerLink="/home">HOME</a>
    <a class="p-2 text-white" routerLink="/about">ABOUT</a>
    <a class="p-2 text-white" routerLink="/products">WINES</a>

    <a class="p-2 text-white" routerLink="/cart">CART</a>
  </nav>
  <a class="btn btn-outline-primary" routerLink ="/register">Sign up</a>
</div> -->


<router-outlet></router-outlet>





